main {
	background-color: Gray;
	color: rgb(o]0, 204, 0);
	font-family: sans-serif;
	font-size: 22px;
}

body {
	background-color: Gray;
    color: rgb(0, 204, 0);
	font-family: sans-serif;
	font-size: 23px;
}

#Inbox {
	border: 5px solid black;
	padding: 3px;
}
#senderBox{
	border: 2px powderblue;
	padding: 1px;
}
